.margin-top-to-nav{
    margin-top: 8rem;
}

.blog-img{
    height: 400px;
    background: grey;
border-radius: 20px;   
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
}

@media screen and (max-width:1024px) {
    .margin-top-to-nav{
        margin-top: 1rem;
    }
}